* {
  margin: auto;
  font-family: arial;
}

body {
  background-color: grey;
}
header {
  padding: 30px;
  background-color: #E00944;
  text-align: center;
  padding-bottom: 20px;
  color: white;
}

div {
  text-align: center;
  background:rgba(100,100,100,0.5);
  display: inline-block;
  margin: 5px;
  width: 500px;
  margin-left: 5%;
  border: 3px solid #4682B4;
}

section {

  text-align: center;
  padding: 20px;
  margin-top: 10px;
  font-size: 30px;

}
